.wrapper {
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    grid-template-columns: 1fr;
    grid-template-areas: "sidebar"
                         "content";
    width: 98.5vw; /* unnecessary, but let's keep things consistent */
    height: 100vh;
  }
  .logo{
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    text-shadow: 1px 2px 2px #cc0000;
    -webkit-user-select: none;
}

  @media screen and (min-width: 850px) {
    .wrapper {
      grid-template-columns: 200px 5fr;
      grid-template-rows: 1fr;
      grid-template-areas: "sidebar content";
    }
  }
  
  
  @media screen and (min-width: 850px) {
    .menu__icon {
      font-size: 0.9rem;
      padding-right: 16px;
    }
    .menu__item--active {
      border-left: 4px solid var(--red);
      box-shadow: inset 10px 0px 17px -13px var(--red);
    }
  }
  
  /* SIDEBAR */
  
  main {
    grid-area: content;
    padding: 48px;
  }
  
  sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 3fr 1fr;

  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img_avt{
    height:5em;
    width: 5em;
  }
  .avatar {
    grid-area: avatar;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  .avatar__name {
    flex: 1;
    text-align: right;
    margin-right: 1em;
    font-family: 'Signika', sans-serif;
    font-size: 3em;
  }
  .avatar__img > img {
    display: block;
  }
  .btn_add{
    border: none;
    background-color: #009432;
    height: 3em;
    width: 5em;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    color:  white;
  }
  .btn_delete{
    border: none;
    background-color: #EE5A24;
    height: 3em;
    width: 5em;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    color:  white;
  }
  .btn_add:disabled{
    background-color: #75a385;
  }
  .btn_close{
    border: none;
    background-color: #EA2027;
    height: 3em;
    width: 5em;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    color:  white;
  }
 
  .dialog{
    border: none;
    position: absolute;
    z-index:10000000
}
  .menu {
    grid-area: menu;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .logo {
    grid-area: logo;
  }
  .menu__text {
    display: none;
  }
  
  @media screen and (min-width: 850px) {
    sidebar {
      grid-template-areas: "logo"
                           "avatar"
                           "menu"
                           "copyright";
      grid-template-columns: 1fr;
      grid-template-rows: 50px auto 1fr 50px;
    }
    
    .menu {
      flex-direction: column;
      align-items: normal;
      justify-content: flex-start;
    }
    .menu__text {
      display: inline-block;
    }
    .avatar {
      flex-direction: column;
    }
    .avatar__name {
      margin: 1em 0;
    }
    .avatar__img > img {
      border-radius: 50%;
    }
  }

  .toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  :root {
    --red: #ED5454;
  }
  
  body {
    font-family: Montserrat;
    font-weight: 100;
    color: #A8B2B9;
  }
  
  sidebar {
    background-color: white;
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.2);
  }
  
  main {
    background-color: #FCFBFC;
  }
  
  .avatar__name {
    font-size: 0.8rem;
  }
  
  .menu__item {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 16px 16px 16px 14px;
    border-left: 4px solid transparent;
    color: inherit;
    text-decoration: none;
    transition: color ease 0.3s;
  }
  
  .menu__item--active .menu__icon {
    color: var(--red);
  }
  .menu__item--active .menu__text {
    color: black;
  }
  
  .menu__item:hover {
    color: black;
  }
  
  
  .menu__icon {
    font-size: 1.3rem;
  }
  
  @media screen and (min-width: 850px) {
    .menu__icon {
      font-size: 0.9rem;
      padding-right: 16px;
    }
    .menu__item--active {
      border-left: 4px solid var(--red);
      box-shadow: inset 10px 0px 17px -13px var(--red);
    }
  }



